<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>>%d{HH:mm:ss} %boldCyan(%-34.-34thread) %red(%10.10X{jda.shard}) %boldGreen(%-15.-15logger{0})
                %highlight(%-6level) %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="WEBHOOK" class="root.MyAppender"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="WEBHOOK"/>
    </root>
</configuration>